body {
    overflow: hidden;
}

#mainCanvas {
    /*background-color: gainsboro;*/
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -100;
    padding: 0px;
    margin: 0px;
    display: block;
    cursor: crosshair;
}

#introBanner {
    z-index: 100;
    position: absolute;
    width: 100%;
    
}

#introTitle {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
#introTitle:first-of-type {    /* For increasing performance 
                        ID/Class should've been used. 
                        For a small demo 
                        it's okaish for now */
animation: showup 7s;
}

#introTitle:last-of-type {
width:0px;
animation: reveal 7s;
}

#introTitle:last-of-type span {
margin-left:-355px;
animation: slidein 7s;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }

}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:1;width:355px;}
}

#controller {
    z-index: 101;
    float: right;
    width: 20%;
    margin: 5%;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    color: darkslategray;
    background-color: rgba(30, 30, 30, 0.2);
}

#imgHolder {
    width: 100%;
    text-align: right;
    padding-right: 200px;
    top: 50px;
    padding-top: 80px;
}

img {
    width: 200px;
}
  